body {
  font-size: .9em;
}

#container {
/*  background-color: rgba(21, 64, 255, 0.4);*/
  width: 350px;
  height: 450px;
}

#origami {
  width: 320px;
}

#containerNumbers {
/*  background-color: rgba(153, 153, 153, 0.4);*/
  width: 320px;
  height: 320px;
}