body {
  font-size: 1em;
}

#container {
/*  background-color: rgba(21, 64, 255, 0.4);*/
  width: 525px;
  height: 525px;
}

#origami {
  width: 350px;
}

#containerNumbers {
/*  background-color: rgba(153, 153, 153, 0.4);*/
  width: 350px;
  height: 350px;
}